/*@font-face{
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*Estilos del form*/
html{
  background-color: #4b4b4b;
}
#registerPlayer h1{
  background-color: #4b4b4b;
  text-align: center;
  color: #fefcfc;
  padding-bottom: 8px;
}
#registerPurchase h1{
  background-color: #4b4b4b;
  text-align: center;
  color: #fefcfc;
}
/*Estilos de botones*/
.registrar{
  padding: 5px 15px;
  margin-top: 25px;
  font-size: 1em;
  margin-bottom: 30px;
  background:#1ab99b;
  color: #fff;
  border-radius: 8px;
}
.registrar:hover{
  background: #1ab99b; /*morado*/
  color: #fff;
}
/*Fin de estilos de botones*/
section{
  font-family: helvetica;

}
.photoStudent{
  height: 90px;
  width: 152px;
}
label{
  margin-left: 25px;
}
span{
  display: block;
}
.failId{
  color: #e67e22;
  font-size:12px;
}
.Accepted{
  color: #e67e22;
  font-size:24px;
  text-align: center;
}
#inputSearch{
  margin-bottom: 30px;
}
/*Fin de los estilos del form*/


/*Estilos generales*/
.displayNone{
    display: none;
}
